body {
  background-color: rgb(238, 238, 238);
}
.navButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 90%;
}

.devicon-github-original {
  font-size: 3rem;
  color: rgb(241, 8, 8);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.devicon-github-original:hover {
  color: rgb(99, 235, 240);
  transition-duration: 0.3s;
}

.devicon-linkedin-plain {
  font-size: 3rem;
  color: rgb(243, 17, 17);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.devicon-linkedin-plain:hover {
  color: rgb(99, 235, 240);
  transition-duration: 0.3s;
  cursor: pointer;
}

.skillsHeader {
  position: absolute;
  bottom: -5%;
  left: 32%;
}

.skillContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10%;
  position: absolute;
  top: 105%;
  border: solid;
  border-color: rgb(247, 244, 244);
  border-radius: 5px;
  height: 285px;
  width: 700px;
  right: 31%;
  background-color: rgb(247, 244, 244);
}

.htmlLogo {
   width: 60px;
  height: 60px;
  border-style: solid;
  border-color: rgb(173, 173, 173);
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  transition: 400ms;
}

.htmlLogo:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px -7px #000000;
}

.cssLogo {
   width: 60px;
  height: 60px;
  border: solid;
  border-color: rgb(173, 173, 173);
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  transition: 400ms;
}

.cssLogo:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px -7px #000000;
}

.javascriptLogo {
   width: 60px;
  height: 60px;
  border: solid;
  border-color: rgb(173, 173, 173);
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  transition: 400ms;
}

.javascriptLogo:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px -7px #000000;
}

.nodejsLogo {
   width: 60px;
  height: 60px;
  border: solid;
  border-color: rgb(173, 173, 173);
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  transition: 400ms;
}

.nodejsLogo:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px -7px #000000;
}

.reactLogo {
   width: 60px;
  height: 60px;
  border: solid;
  border-color: rgb(173, 173, 173);
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  transition: 400ms;
}

.reactLogo:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px -7px #000000;
}

.postgresqlLogo {
  width: 60px;
  height: 60px;
  border: solid;
  border-color: rgb(173, 173, 173);
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  transition: 400ms;
}

.postgresqlLogo:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px -7px #000000;
}

.expressLogo {
   width: 60px;
  height: 60px;
  border: solid;
  border-color: rgb(173, 173, 173);
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  transition: 400ms;
}

.expressLogo:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px -7px #000000;
}

.gitLogo {
   width: 60px;
  height: 60px;
  border: solid;
  border-color: rgb(173, 173, 173);
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  transition: 400ms;
}

.gitLogo:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px -7px #000000;
}

.footer {
  background-color: rgb(81, 81, 82);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  font-family: 'Montserrat';
}
