.photo {
  height: 355px;
  width: 355px;
  border-radius: 10px;
  position: absolute;
  bottom: 35%;
  left: 27%;
}


.aboutMeHeader {
  position: absolute;
  bottom: 60%;
  left: 50%;
  font-family: 'Montserrat';
}

.aboutMeIntro {
  position: absolute;
  bottom: 60%;
  left: 50%;
  font-family: 'Montserrat';
  font-size: 25px;
}

.nameIntro {
  position: absolute;
  bottom: 55%;
  left: 50%;
  font-family: 'Montserrat';
  font-size: 25px;
}


.aboutMeBody {
  position: absolute;
  bottom: 40%;
  left: 50%;
  font-family: 'Montserrat';
}
