.formContainer {
  position: absolute;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
  justify-content: center;
	align-items: left;
  box-shadow: 5px 5px 15px 4px rgba(0,0,0,0.05);
  height: 420px;
  width: 700px;
  background-color: white;
  left: 32%;
  top: 255%;
  border-radius: 10px;
  
}

.contactHeader {
  position: absolute;
  top: 249%;
  left: 32%;
  z-index: 2;
  font-family: 'Montserrat';
  font-size: 26px;
}


.submitBtn {
  background-color: transparent;
  position: relative;
  height: 45px;
  width: 20%;
  border-width: 1px;
  border-color: #28C2FF;
  border-radius: 15px;
  font-size: 20px;
  color: white;
  background-color: #28C2FF;
  top: 15px;
  font-family: 'Montserrat';
  cursor: pointer;
}

.submitBtn:hover {
  transition-duration: 0.3s;
}

.textArea {
  resize: none;
  position: relative;
  width: 50%;
  font-family: 'Montserrat';
  border-color: #28C2FF;
  border-radius: 5px;
  border-width: 1px;
}

.input {
  width: 50%;
  height: 50px;
  font-family: 'Montserrat';
  border-color: #28C2FF;
  border-radius: 5px;
  border-width: 1px;
}

@media all and (max-width: 500px) {
  .formContainer {
    position: absolute;
    top: 270%;
    width: 25em;
    height: 20em;
    left: 12%;
  }
  .contactHeader {
    font-size: 1.2em;
    left: 40%;
    top: 265%;
  }
  .input {
    height: 2em;
    width: 15em;
  }
  .textArea {
    height: 7em;
  }
  .submitBtn {
    width: 8em;
    height: 2em;
    justify-content: center;
    align-items: center;
    right: 1%;
  }
}