.formContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 355px;
  top: 355px;
  box-shadow: 8px 12px 23px 7px rgba(0,0,0,0.36);
  width: 400;
  height: 220px;

}

.contactHeader {
  position: relative;
  bottom: 68%;

}

.contactBody {

}

.formLogo {
  color: black;
  position: relative;
  left: 80px;
}

.submitButton {
  
}

