.downloadBtn {
  background-color: transparent;
  position: absolute;
  left: 67%;
  height: 45px;
  width: 8%;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-color: rgb(243, 14, 14);
  border-radius: 15px;
  font-size: 20px;
  color: red;
  font-family: 'Montserrat';
  cursor: pointer;
}

.downloadBtn:hover {
   color: rgb(99, 235, 240);
  transition-duration: 0.3s;
  border-color: rgb(99, 235, 240);
}