.downloadBtn {
  background-color: transparent;
  position: absolute;
  left: 50%;
  height: 45px;
  width: 6%;
  top: 60.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28C2FF;
  border-color: #28C2FF;
  border-width: 1px;
  border-radius: 35px;
  font-size: 15px;
  color: white;
  font-family: 'Montserrat';
  cursor: pointer;
  transition: 500ms;
}

.downloadBtn:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

@media all and (max-width: 500px) {
  .downloadBtn {
    top: 5%;
    left: 85%;
    width: 5em;
    height: 2em;
    font-size: .8em;
    position: fixed;
    z-index: 1;
  }
}


